@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
  }

  html::-webkit-scrollbar {
    background-color: black;
    width: 5px;
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.25, #2681cc), color-stop(.75, #a520ca));
    border-radius: 10px;
  }